@import "../../responsive.scss";
nav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    a{
        transition: all 0.4s ease;
        @include sm{
            display: none;
        }
        &:hover{
            scale: 1.08;
        }
    }
    .left{
        flex: 3;
        display: flex;
        align-items: center;
        gap: 50px;
        background-color: #0B0C10;
        height: 100%;
        
        color: #F8F4E3;
        .logo{
            font-weight: bold;
            font-size: 20px;
            display: flex;
            align-items: center;
            gap: 10px;
            color: #C5A880;
            img{
                width: 28px;
            }

            span{
                @include md {
                    display: none;
                }
                @include sm{
                    display: initial;
                }
            }

        }
    }
    .right{
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: #0B0C10;
        height: 100%;
        gap: 30px;
        color: #F8F4E3;

        @include md {
            background-color: #0B0C10;
        }    
        a{
            padding: 12px 24px;
            margin: 20px;
        }
        .register{
            border-radius: 22px;
            background-color: #C5A880;
        } 
        .login{
            color: #C5A880;
        }       
        .menuIcon{
            display: none;
            z-index: 999;

            img{
                width: 36px;
                height: 36px;
                cursor: pointer;
            }
            @include sm{
                display: inline;
            }
        }
        .menu{            
            position: absolute;
            top: 0;
            right: -50%;
            background-color: #0b0c10af;
            color: #F8F4E3;
            height: 100vh;
            width: 50%;
            transition: all 1s ease;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 24px;

            &.active {
                right: 0;                
            }
            @include sm{
                a{
                    display: initial;
                }
            }
        }
    }
}

